header {
	background-color: cornflowerblue;
}

.card-list {
	margin-top: 50px;
}

.rows {
	margin-top: 50px;
}

.sidebar {
	position: absolute;

}

.sidebar2 {
	position: absolute;
	left: 70px;
}

.footbar {
	margin-top: 10px;
	padding-left: 50%;
	transform: translateX(-50%);
}

.card-class:hover {
	-webkit-transform: scale(1.12);
	-ms-transform: scale(1.2);
	transform: scale(1.12);
  }
/* .card-class:hover {
	box-shadow:
		1px 1px #53ea93,
		2px 2px #53ea93,
		3px 3px #53ea93,
		4px 4px #53ea93,
		5px 5px #53ea93,
		6px 6px #53ea93,
		7px 7px #53ea93;
	-webkit-transform: translateX(-7px);
	transform: translateX(-7px);
} */